# dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules

# Cache
**/tsconfig.tsbuildinfo
**/.eslintcache
.cache/*

# security: atlassian/changeset
**/.netrc
**/.npmrc
