# dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules

# Cache
**/tsconfig.tsbuildinfo
**/.eslintcache
.cache/*

# security: atlassian/changeset
**/.netrc
**/.npmrc

# vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# turborepo https://turbo.build/repo/docs/getting-started/existing-monorepo#edit-gitignore
.turbo

# Build Output API: https://github.com/vercel/examples/tree/main/ci-cd/github-actions
.vercel
